body {
    background-image: url("catss.jpg");
    background-size: cover;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    background: orange;
    max-width: 100%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: purple;
}

#save-btn {
    background: green;
}